.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-basis: auto;
}

.item{
	width: 30%;
	margin-bottom: .5em;
}

.home-card{
	max-width: 500px;
	height: max-content;
	margin: 26px auto;
}

.imagen{
	width: 100%;
  	height: auto;
}

.centrar{
	position: absolute;
	top: 50%;
	left: 50%
}

.spinner{
	border: 4px solid rgba(0,0,0,0.1);
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border-left-color: #09F;

	animation: spin is ease infinite;
}

.image-entry{
	width: 100%
}

@keyframe spin{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(360deg);
	}
}